
.text-centre{
    text-align: center;
    font-weight: bold;
}
#videoPlayer {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
video::-webkit-media-controls {
  z-index: 1;
  position: relative;
}

.jumbotron{
background-image: url(./images/grey\ brick\ wall.jpg);
background-size: 100%;
 height:160vh;
text-align: center;
}

.jumbotron2{
  background-image: url(./images/grey\ brick\ wall.jpg);
  background-size: 100%;
   height:90vh;
  text-align: center;
  }

  .jumbotron3{
    background-image: url(./images/grey\ brick\ wall.jpg);
     height:100vh;
    text-align: center;
    }
    .navbar-brand{
      font-weight: bold;
      margin-left: 30px;
      text-align: center;
       }
      .navbar-header{
      background-color:beige;
      padding-left: 30px;
      padding-right: 15px;
      }
       .navbar-right{
         font-weight: bold;
       }
       .navbar-nav{
         background-color: beige;
       }
       
       
